.basic-btn {
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  width: 100%;
  background-color: #b3b3b3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.outer-container {
  height: 100vh;
  width: 100%;
  background-image: url("../Assets/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}
.search-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-inner-container {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  opacity: 0.8;
  z-index: 1;
  box-shadow: 0cm;
  width: 23vw;
}
.search-description {
  font-size: 12px;
}

.search-input {
  padding: 4px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: rgb(179 179 179 / 41%);
}

input:focus {
  outline: none;
}

.git-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.card-img {
  height: 180px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.modal-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-actions-inner {
  padding: 12px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---old--- */

/* --new-- */
.modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inner-modal {
  background-color: white;
  border-radius: 12px;
  padding: 12px 12px 25px 12px;
  position: absolute;
}
/* .inner-modal h3 {
  text-align: center;
} */
